
build/.vs/SimpleRenderEngineProject/v15/Solution.VC.db-wal
build/.vs/SimpleRenderEngineProject/v15/Browse.VC.opendb
build/.vs/SimpleRenderEngineProject/v15/Solution.VC.db-shm
build/.vs/SimpleRenderEngineProject/v15/.suo
build/.vs/SimpleRenderEngineProject/v15/Browse.VC.db
build/.vs/SimpleRenderEngineProject/v15/ipch/AutoPCH/3e38816fb005b03c/COMPONENT.ipch
build/.vs/SimpleRenderEngineProject/v15/ipch/AutoPCH/9c16392734825cd8/GAMEOBJECT.ipch
build/.vs/SimpleRenderEngineProject/v15/ipch/AutoPCH/c2920e5d81d4a520/WOLF3D.ipch
build/.vs/SimpleRenderEngineProject/v15/ipch/AutoPCH/e9d451a6ea14b21f/COMPONENT.ipch
build/.vs/SimpleRenderEngineProject/v15/Solution.VC.db
build/src/SRE.dir/Debug/Camera.obj
build/src/SRE.dir/Debug/Framebuffer.obj
build/src/SRE.dir/Debug/imgui.obj
build/src/SRE.dir/Debug/imgui_draw.obj
build/src/SRE.dir/Debug/imgui_sre.obj
build/src/SRE.dir/Debug/Light.obj
build/src/SRE.dir/Debug/Log.obj
build/src/SRE.dir/Debug/Material.obj
build/src/SRE.dir/Debug/Mesh.obj
build/src/SRE.dir/Debug/ModelImporter.obj
build/src/SRE.dir/Debug/Profiler.obj
build/src/SRE.dir/Debug/Renderer.obj
build/src/SRE.dir/Debug/RenderPass.obj
build/src/SRE.dir/Debug/SDLRenderer.obj
build/src/SRE.dir/Debug/Shader.obj
build/src/SRE.dir/Debug/Sprite.obj
build/src/SRE.dir/Debug/SpriteAtlas.obj
build/src/SRE.dir/Debug/SpriteBatch.obj
build/src/SRE.dir/Debug/SRE.Build.CppClean.log
build/src/SRE.dir/Debug/SRE.log
build/src/SRE.dir/Debug/SRE.pdb
build/src/SRE.dir/Debug/SRE.tlog/CL.command.1.tlog
build/src/SRE.dir/Debug/SRE.tlog/CL.read.1.tlog
build/src/SRE.dir/Debug/SRE.tlog/CL.write.1.tlog
build/src/SRE.dir/Debug/SRE.tlog/Lib-link.read.1.tlog
build/src/SRE.dir/Debug/SRE.tlog/Lib-link.write.1.tlog
build/src/SRE.dir/Debug/SRE.tlog/Lib.command.1.tlog
build/src/SRE.dir/Debug/SRE.tlog/SRE.lastbuildstate
build/src/SRE.dir/Debug/SRE.tlog/unsuccessfulbuild
build/src/SRE.dir/Debug/Texture.obj
build/src/SRE.dir/Debug/WorldLights.obj
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/Wolf/Exercise6-Wolf3D.dir/Debug/Exercise6-Wolf3D.tlog/CL.command.1.tlog
build/Wolf/Exercise6-Wolf3D.dir/Debug/Exercise6-Wolf3D.tlog/CL.read.1.tlog
build/Wolf/Exercise6-Wolf3D.dir/Debug/Exercise6-Wolf3D.tlog/CL.write.1.tlog
build/Wolf/Exercise6-Wolf3D.dir/Debug/Exercise6-Wolf3D.tlog/Exercise6-Wolf3D.lastbuildstate
build/Wolf/Exercise6-Wolf3D.dir/Debug/Exercise6-Wolf3D.tlog/Exercise6-Wolf3D.write.1u.tlog
build/Wolf/Exercise6-Wolf3D.dir/Debug/Exercise6-Wolf3D.tlog/link.command.1.tlog
build/Wolf/Exercise6-Wolf3D.dir/Debug/Exercise6-Wolf3D.tlog/link.read.1.tlog
build/Wolf/Exercise6-Wolf3D.dir/Debug/Exercise6-Wolf3D.tlog/link.write.1.tlog
build/Wolf/Exercise6-Wolf3D.dir/Debug/Exercise6-Wolf3D.tlog/unsuccessfulbuild
build/Wolf/Exercise6-Wolf3D.dir/Debug/FirstPersonController.obj
build/Wolf/Exercise6-Wolf3D.dir/Debug/vc141.pdb
build/Wolf/Exercise6-Wolf3D.dir/Debug/Wolf3D.obj
build/Wolf/Exercise6-Wolf3D.dir/Debug/WorldMap.obj
